<!-- Visão geral do site -->
<div class="nested-fields">
	<div class="panel panel-default">
		<div class="panel-heading main-color-bg">
			<h3 class="panel-title">Nova Avaliação</h3>
		</div>
		<div class="panel-body">
			<%= simple_form_for(@assessment) do |f| %>
			<div class="form-inputs">
				<%= simple_form_for(@assessment) do |f| %>
				<%= f.hidden_field :client_id, value: @client.id %>
				<%= f.input :tricipital %>
				<%= f.input :subescapular %>
				<%= f.input :suprailiaca %>
				<%= f.input :abdominal %>
				<%= f.input :axilar_media %>
				<%= f.input :peitoral %>
				<%= f.input :coxa %>
				<%= f.input :weight %>
				<%= f.input :height %>
			</div>

			<div class="form-actions">
				<%= f.button :submit %>
			</div>
			<% end %>

			<%= link_to 'Voltar', assessments_path(client_id: @client.id) %>
		</div>
	</div>

	<%= link_to 'Back', assessments_path %>
</div>