<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @assessment.client_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assessment.employee_id %>
</p>

<p>
  <strong>Bodyfat:</strong>
  <%= @assessment.bodyfat %>
</p>

<p>
  <strong>Ideal max:</strong>
  <%= @assessment.ideal_max %>
</p>

<p>
  <strong>Ideal min:</strong>
  <%= @assessment.ideal_min %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @assessment.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @assessment.height %>
</p>

<p>
  <strong>Ideal min weight:</strong>
  <%= @assessment.ideal_min_weight %>
</p>

<p>
  <strong>Ideal max weight:</strong>
  <%= @assessment.ideal_max_weight %>
</p>

<p>
  <strong>Fat weight:</strong>
  <%= @assessment.fat_weight %>
</p>

<p>
  <strong>Lean body mass:</strong>
  <%= @assessment.lean_body_mass %>
</p>

<p>
  <strong>Fat body mass:</strong>
  <%= @assessment.fat_body_mass %>
</p>

<p>
  <strong>Tricipital:</strong>
  <%= @assessment.tricipital %>
</p>

<p>
  <strong>Peitoral:</strong>
  <%= @assessment.peitoral %>
</p>

<p>
  <strong>Subescapular:</strong>
  <%= @assessment.subescapular %>
</p>

<p>
  <strong>Axilar media:</strong>
  <%= @assessment.axilar_media %>
</p>

<p>
  <strong>Suprailiaca:</strong>
  <%= @assessment.suprailiaca %>
</p>

<p>
  <strong>Abdominal:</strong>
  <%= @assessment.abdominal %>
</p>

<p>
  <strong>Coxa:</strong>
  <%= @assessment.coxa %>
</p>

<p>
  <strong>Neck:</strong>
  <%= @assessment.neck %>
</p>

<p>
  <strong>Shoulder:</strong>
  <%= @assessment.shoulder %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @assessment.chest %>
</p>

<p>
  <strong>Waits:</strong>
  <%= @assessment.waits %>
</p>

<p>
  <strong>Abdomen:</strong>
  <%= @assessment.abdomen %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @assessment.hip %>
</p>

<p>
  <strong>Right arm:</strong>
  <%= @assessment.right_arm %>
</p>

<p>
  <strong>Left arm:</strong>
  <%= @assessment.left_arm %>
</p>

<p>
  <strong>Right forearm:</strong>
  <%= @assessment.right_forearm %>
</p>

<p>
  <strong>Left forearm:</strong>
  <%= @assessment.left_forearm %>
</p>

<p>
  <strong>Right thigh:</strong>
  <%= @assessment.right_thigh %>
</p>

<p>
  <strong>Left thigh:</strong>
  <%= @assessment.left_thigh %>
</p>

<p>
  <strong>Right calf:</strong>
  <%= @assessment.right_calf %>
</p>

<p>
  <strong>Left calf:</strong>
  <%= @assessment.left_calf %>
</p>

<p>
  <strong>Result:</strong>
  <%= @assessment.result %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
