<%= simple_form_for(@employee) do |f| %>
<div class="form-inputs">
  <%= f.input :avatar, as: :file, label: 'Foto:' %>
  <%= f.input :name, label: 'Nome:' %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.input :position, collection: ['Admin', 'Personal'], label:'Função:' %>
  <%= f.input :birth_date, html5:true, label: 'Data de Nascimento:' %>
  <%= f.input :rg, label: 'RG:' %>
  <%= f.input :cpf, label: 'CPF:' %>
  <%= f.input :telephone, label: 'Telefone:' %>
  <%= f.input :admission_date, html5:true, label:'Data de Admissão:' %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Salvar Funcionário', class: 'btn btn-success' %>
</div>
<% end %>
