<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @equipment.quantity %>
</p>

<p>
  <strong>Data de aquisição:</strong>
  <%= @equipment.aquisition_date %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @equipment.weight %>
</p>

<p>
  <strong>Peso suportado:</strong>
  <%= @equipment.max_weight %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
