<div class="container custom-container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="text-center">Esqueceu sua senha?</h3>
			<div class="form" role="form">
				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= f.error_notification %>

				<div class="form-group custom-elem">
					<%= f.input :email, required: true, autofocus: true %>
				</div>

				<p class="text-center"><small><b><%= render "devise/shared/links" %></b></small></p>

				<div class="form-actions">
					<%= f.button :submit, "Envie-me as instruções de redefinição de senha", class: 'btn btn-custom btn-block' %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>