<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @check_in.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @check_in.client_id %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
