<%= simple_form_for(@client) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :avatar, as: :file, label:'Foto:' %>
  <%= f.input :name, placeholder:'Nome Completo', label: 'Nome:' %>
  <%= f.input :gender, collection: ['Feminino', 'Masculino'], include_blank: false, label: 'Gênero:' %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: 'Senha:', placeholder: 'Mínimo de 6 dígitos' %>
  <%= f.input :password_confirmation, required: true, label: 'Confirmar senha' %>
  <%= f.input :birth_date, html5:true, label: 'Data de Nascimento:' %>
  <%= f.input :rg, label: 'RG:' %>
  <%= f.input :cpf, label: 'CPF' %>
  <%= f.input :address, label: 'Endereço:' %>
  <%= f.input :telephone, placeholder:'00000000000', label: 'Telefone:' %>
  <p class="help-block">Somente números</p>
  <%= f.input :email, placeholder:'email@email.com', label: 'E-mail:' %>
  <%= f.input :disabilities, label: 'Necessidades Especiais:' %>
  <%= f.input :blood_type, collection: ['Não especificado', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], include_blank: false, label: 'Tipo Sanguíneo:' %>
  <%= f.input :allergy, label: 'Alergias:' %>
  <%= f.input :obs, label: 'OBS.:' %>
  <%= f.input :subscription_date, html5:true, label: 'Data de Inscrição:' %>
  <%= f.input :payment_date, html5:true, label: 'Data de Pagamento:', type: 'date' %>
  <%= f.input :attachment, as: :file, label: 'Anexo:' %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Salvar Cliente', class: 'btn btn-success' %>
</div>
<% end %>
