<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Aniversário:</strong>
  <%= @client.birth_date %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.adress %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Deficiencias:</strong>
  <%= @client.disabilities %>
</p>

<p>
  <strong>Tipo Sanguíneo:</strong>
  <%= @client.blood_type %>
</p>

<p>
  <strong>Alergias:</strong>
  <%= @client.allergy %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @client.obs %>
</p>

<p>
  <strong>Data de Inscrição:</strong>
  <%= @client.subscription_date %>
</p>

<p>
  <strong>Data de pagamento:</strong>
  <%= @client.payment_date %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>
