  <!-- Visão geral do site -->
  <div class="panel panel-default">
    <div class="panel-heading main-color-bg">
      <h3 class="panel-title td-name"><%= @client.name.capitalize %></h3>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-2 col-center-block">
            <%= image_tag @client.avatar.url(:medium), class: 'img-responsive img-thumbnail img-circle' %>
          </div>
        </div>

        <table class ="table table-striped table-hover" >
          <tr>
            <th>Gênero:</th>
            <td><%= @client.gender %></td>
          </tr>
        </tr>
        <tr>
          <th>Aniversário:</th>
          <td><%= @client.birth_date %></td>
        </tr>

        <tr>
          <th>RG:</th>
          <td><%= @client.rg %></td>
        </tr>

        <tr>
          <th>CPF:</th>
          <td><%= @client.cpf %></td>
        </tr>

        <tr>
          <th>Endereço:</th>
          <td><%= @client.address %></td>
        </tr>

        <tr>
          <th>Telefone:</th>
          <td><%= @client.telephone %></td>
        </tr>

        <tr>
          <th>Email:</th>
          <td><%= @client.email %></td>
        </tr>

        <tr>
          <th>Necessidades Especiais:</th>
          <td><%= @client.disabilities %></td>
        </tr>

        <tr>
          <th>Tipo Sanguíneo:</th>
          <td><%= @client.blood_type %></td>
        </tr>

        <tr>
          <th>Alergias:</th>
          <td><%= @client.allergy %></td>
        </tr>

        <tr>
          <th>Obs:</th>
          <td><%= @client.obs %></td>
        </tr>

        <tr>
          <th>Data de Inscrição:</th>
          <td><%= @client.subscription_date %></td>
        </tr>

        <tr>
          <th>Data de pagamento:</th>
          <td><%= @client.payment_date %></td>
        </tr>
      </table>
      <%= link_to 'Editar', edit_client_path(@client) %> |
      <%= link_to 'Voltar', clients_path %>
    </div>
  </div>
</div>
