<!-- Visão geral da Academia -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Visão geral da Academia</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <%= link_to(clients_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">accessibility</i> <%= Client.all.size %></h2>
        <h4>Clientes</h4>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="well dash-box">
        <h2><i class="material-icons">description</i> 12</h2>
        <h4>Fichas</h4>
      </div>
    </div>
    <div class="col-md-3">
      <%= link_to(equipment_index_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">fitness_center</i> <%= Equipment.all.size %></h2>
        <h4>Equipamentos</h4>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to(employees_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">supervisor_account</i> <%= Employee.all.size %></h2>
        <h4>Funcionários</h4>
      </div>
      <% end %>
    </div>
  </div>
</div>


