<!-- Visão geral da Academia -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Visão geral da Academia</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <%= link_to(clients_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">accessibility</i> <%= Client.all.size %></h2>
        <h4>Clientes</h4>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to(clients_gymcards_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">description</i> <%= Gymcard.all.size %></h2>
        <h4>Fichas</h4>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to(equipment_index_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">fitness_center</i> <%= Equipment.all.size %></h2>
        <h4>Equipamentos</h4>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to(employees_path) do %>
      <div class="well dash-box">
        <h2><i class="material-icons">supervisor_account</i> <%= Employee.all.size %></h2>
        <h4>Funcionários</h4>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Avaliações Cliente -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Nome do Cliente - Avaliações</h3>
    
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2 col-center-block">
        <img src="https://click.dj/img/no-avatar.png" class="img-responsive img-thumbnail img-circle img-default"/>
      </div>
    </div>
    <br>
    <table class ="table table-striped table-hover" >
      <thead>
        <tr>
          <th>Nome da avaliação</th>
          <th>Data da avaliação</th>
          <th>Próxima avaliação</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>Cliente 1</td>
          <td>00/00/0000</td>
          <td>00/00/0000</td>
          <td><button class="btn btn-default">Exibir</button></td>
          <td><button class="btn btn-default">Editar</button></td>
        </tr>
        
        <tr>
          <td>Cliente 2</td>
          <td>00/00/0000</td>
          <td>00/00/0000</td>
          <td><button class="btn btn-default">Exibir</button></td>
          <td><button class="btn btn-default">Editar</button></td>
        </tr>

        <tr>
          <td>Cliente 3</td>
          <td>00/00/0000</td>
          <td>00/00/0000</td>
          <td><button class="btn btn-default">Exibir</button></td>
          <td><button class="btn btn-default">Editar</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<!-- Avaliações Corporal -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Composição Corporal</h3>
    
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h3>Avaliado</h3>
        <table class ="table table-striped table-hover" >
          <thead>
            <tr>
              <th>Nome</th>
              <th>Idade</th>
              <th>Gênero</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Nome Cliente</td>
              <td>21</td>
              <td>Feminino</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h3>Avaliação</h3>
        <table class ="table table-striped table-hover" >
          <thead>
            <tr>
              <th>Data</th>
              <th>Hora</th>
              <th>Protocolo</th>
              <th>Próxima avaliação</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>00/00/0000</td>
              <td>00:00</td>
              <td>Protocolo</td>
              <td>00/00/0000</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>Resultados</h3>
        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Gordura Atual</th>
              <td>23,46 %</td>
            </tr>

            <tr>
              <th>Ideal Minimo</th>
              <td>17,01 %</td>
            </tr>

            <tr>
              <th>Ideal Máximo</th>
              <td>21,00 %</td>
            </tr>
          </tbody>
        </table>

        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Peso Atual</th>
              <td>49,45 kg</td>
            </tr>

            <tr>
              <th>Ideal Minimo</th>
              <td>46,26 kg</td>
            </tr>

            <tr>
              <th>Ideal Máximo</th>
              <td>48,23 kg</td>
            </tr>
          </tbody>
        </table>

        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Peso Gordo</th>
              <td>11,60 kg</td>
            </tr>

            <tr>
              <th>Peso Magro</th>
              <td>37,85 kg</td>
            </tr>
          </tbody>
        </table>

        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Resultado</th>
              <td>Na média</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>Composição Corporal (Kg)</h3>
        <p>
          Grafico aqui utilizando alguns dados da coluna anterior*<br/>
          O Rail tem algo, alguma gem ou similar para graficos?????<br/><br/>
          <img src="https://i.stack.imgur.com/5pdoC.png" class="img-responsive">
          (Imagem Ilustrativa)<br/><br/>
          *Campos do gráfico: Atual - P. Mín - P. Máx - Gordo - Magro
        </p>
      </div>



      <div class="col-md-6">
        <h3>Biometria</h3>
        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Massa Corporal</th>
              <td>49,45 Kg</td>
            </tr>

            <tr>
              <th>Estatura</th>
              <td>155,50 cm</td>
            </tr>
          </tbody>
        </table>

        <h3>Dobras Cutâneas</h3>
        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Bicipital</th>
              <td>Nulo mm</td>
            </tr>

            <tr>
              <th>Tricipital</th>
              <td>18,00</td>
            </tr>

            <tr>
              <th>Peitoral</th>
              <td>15,00 cm</td>
            </tr>

            <tr>
              <th>Subescapular</th>
              <td>14,00</td>
            </tr>

            <tr>
              <th>Axilar-Média</th>
              <td>10,00 mm</td>
            </tr>

            <tr>
              <th>Suprailíaca</th>
              <td>17,00 mm</td>
            </tr>

            <tr>
              <th>Abdominal</th>
              <td>27,00</td>
            </tr>

            <tr>
              <th>Coxa</th>
              <td>29,00 mm</td>
            </tr>

            <tr>
              <th>Panturilha</th>
              <td>Nulo mm</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>Perímetros</h3>
        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Pescoço</th>
              <td>Nulo mm</td>
            </tr>

            <tr>
              <th>Ombro</th>
              <td>Nulo mm</td>
            </tr>

            <tr>
              <th>Tórax</th>
              <td>78,90</td>
            </tr>

            <tr>
              <th>Cintura</th>
              <td>63,80</td>
            </tr>

            <tr>
              <th>Abdomem</th>
              <td>72,20</td>
            </tr>

            <tr>
              <th>Quadril</th>
              <td>96,60 cm</td>
            </tr>
          </tbody>
        </table>
        <br/>

        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th colspan="1"></th>
              <th>Direito</th>
              <th>Esquerdo</th>
            </tr>
            <tr>
              <th>Braço</th>
              <td>24,30 cm</td>
              <td>24,40 cm</td>
            </tr>

            <tr>
              <th>Antebraço</th>
              <td>21,50 cm</td>
              <td>21,80 cm</td>
            </tr>

            <tr>
              <th>Coxa</th>
              <td>54,80 cm</td>
              <td>53,80</td>
            </tr>

            <tr>
              <th>Panturrilha</th>
              <td>32,20</td>
              <td>32,80</td>
            </tr>
          </tbody>
        </table>

        <table class ="table table-striped table-hover" >
          <tbody>
            <tr>
              <th>Padrão de pontos</th>
              <td>Pollock</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12">
        <div class="alert alert-info" role="alert"><b>Obs.:</b> Campo com observações sobre a ficha</div>
        <a href="#" title="">Voltar</a> <a href="#" title="">Editar</a>
      </div>

    </div>
  </div>
</div>

