<div class="nested-fields">
	<%= f.input :name %>
	<%= f.input :serie %>
	<%= f.input :sequence %>
	<%= f.input :load %>
	<%= f.input :obs %>
	<%= link_to_remove_association 'Remover Exercício', f %>
</div>