<div class="nested-fields">
	<%= f.input :name, label: 'Nome:' %>
	<%= f.input :serie, label: 'Serie:' %>
	<%= f.input :sequence, label: 'Sequencia:' %>
	<%= f.input :load, label: 'Peso:' %>
	<%= f.input :obs, label: 'Obs.:' %>
	<%= link_to_remove_association 'Remover Exercício', f %>
</div>
