<!-- Visão geral do site -->
<!-- Visão geral do site -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Nova avaliação Pollock 3</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@assessment, url: pollock3_path) do |f| %>
      <div class="form-inputs">
        <%= f.hidden_field :client_id, value: @client.id %>
        <%= f.input :weight %>
        <%= f.input :height %>
        <%= f.input :tricipital %>
        <%= f.input :suprailiaca %>
        <%= f.input :coxa %>
        <%= f.input :neck %>
        <%= f.input :shoulder %>
        <%= f.input :chest %>
        <%= f.input :waist %>
        <%= f.input :abdomen %>
        <%= f.input :hip %>
        <%= f.input :right_arm %>
        <%= f.input :left_arm %>
        <%= f.input :right_forearm %>
        <%= f.input :left_forearm %>
        <%= f.input :right_thigh %>
        <%= f.input :left_thigh %>
        <%= f.input :right_calf %>
        <%= f.input :left_calf %>
        <%= f.input :next_assessment_date, html5: true, label: 'Data próxima avaliação:' %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Salvar', class:'btn btn-success pull-right' %>
      </div>
    <% end %>

    <br />
    <%= link_to 'Voltar', assessments_path(client_id: @client.id) %>
  </div>
</div>
