<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>Gymapp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if user_signed_in? %>
    <header class="navbar navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Gymapp</a>
          </div>
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle td-name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name.capitalize %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><%= link_to "Sair", destroy_user_session_path, method: 'delete' %></li>
              </ul>
            </li>
          </ul>
          <%= form_tag "#", class: "navbar-form pull-right", method: :get, role: "search" do %>
          <div class="input-group">
            <%= text_field_tag :q, @query, class: "form-control", placeholder: "Procurar" %>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </header>

    <section id="main">
      <div class="container">

        <% if user_signed_in? %>

        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="index.html" class="list-group-item active main-color-bg">
                <i class="material-icons">settings</i> Painel de Controle
              </a>
              <%= link_to(clients_gymcards_path, class:'list-group-item') do %>
              <i class="material-icons">description</i> Fichas <span class="badge"><%= Gymcard.all.size %></span>
              <% end %>
              <%= link_to(equipment_index_path, class:'list-group-item') do %>
              <i class="material-icons">fitness_center</i> Equipamentos <span class="badge"><%= Equipment.all.size %></span>
              <% end %>
              <%= link_to(clients_path, class:'list-group-item') do %>
              <i class="material-icons">accessibility</i> Clientes <span class="badge"><%= Client.all.size %></span>
              <% end %>
              <%= link_to(employees_path, class:'list-group-item') do %>
              <i class="material-icons">supervisor_account</i> Funcionários <span class="badge"><%= Employee.all.size %></span>
              <% end %>
              <%= link_to(clients_assessments_path, class:'list-group-item') do %>
              <i class="material-icons">playlist_add_check</i>Avaliações <span class="badge"><%= Assessment.all.size %></span>
              <% end %>

            </div>

            <div class="list-group">
              <a href="index.html" class="list-group-item active main-color-bg">
                <i class="material-icons">settings</i> Avaliações
              </a>
              <%= link_to(clients_assessments_path(filter: :in_day), class:'list-group-item') do %>
                <i class="material-icons">description</i> Avaliações em dia<span class="badge"><%= Assessment.in_day.size %></span>
              <% end %>
              <%= link_to(clients_assessments_path(filter: :next_to_expire), class:'list-group-item') do %>
                <i class="material-icons">description</i> Avaliações Próximas<span class="badge"><%= Assessment.next_to_expire.size %></span>
              <% end %>
              <%= link_to(clients_assessments_path(filter: :overdue), class:'list-group-item') do %>
                <i class="material-icons">description</i> Avaliações Atrasadas<span class="badge"><%= Assessment.overdue.size %></span>
              <% end %>
            </div>
          </div>

          <div class="col-md-9">
            <!-- Visão geral do site -->
            <% end %>
            <% if notice %>
            <div class="alert alert-success fade in" data-alert="alert">
              <a class="close" data-dismiss='alert' href="#">×</a>
              <p><%= notice %></p>
            </div>
            <% end %>

            <% if alert %>
            <div class="alert alert-danger fade in" data-alert="alert">
              <a class="close" data-dismiss='alert' href="#">×</a>
              <p><%= alert %></p>
            </div>
            <% end %>

            <%= yield %>
            <% if user_signed_in? %>
          </div>
          
        </div>
      </div>
    </section>
    <footer id="footer">
      <p>Gymapp - Sistema de Gerenciamento de Academias, &copy; 2017</p>
    </footer>
    <% end %>
  </body>
  </html>
